.header-card {
    display: flex;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
    border-style: groove;
    justify-content: center;
    border-width: 10px;
    background-color: wheat;
}

.hero img {
    margin: 15px;
    max-width: 100%;
    max-height: 50%;
    border-style: groove;
    border-width: 5px;

}

.navbar {
    display: flex;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
    justify-content: space-evenly;
    font-size: medium;

}

.navbar-card {
    display: flex;
    border-style: groove;
    border-width: 5px;
    padding: 15px;
    background-color: wheat;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: nowrap;

}

.container-card {
    display: flex;
    border-style: groove;
    border-width: 5px;
    padding: 15px;  
    width: 30%;
    margin: 15px;
    flex-direction: column;
    background-color: wheat;
}

.container-card img {
    display: flex;
    max-width: 30%;
    margin: 15px;
}